business-flow/src/main/resources/META-INF/bf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.lizo.com/schema/bf" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            targetNamespace="http://www.lizo.com/schema/bf" elementFormDefault="qualified"
            attributeFormDefault="unqualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool.xsd">


    <xsd:import namespace="http://www.springframework.org/schema/beans"/>


    <xsd:element name="stop">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:group ref="stopElements"/>
                    <xsd:attributeGroup ref="stopAttributes"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>



    <xsd:group name="stopElements">
        <xsd:sequence>
            <xsd:element ref="description" minOccurs="0"/>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element ref="routing"/>
                <xsd:element ref="property"/>
                <xsd:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:group>

    <xsd:element name="description">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
	Contains informative text describing the purpose of the enclosing element.
	Used primarily for user documentation of XML bean definition documents.
			]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType mixed="true">
            <xsd:choice minOccurs="0" maxOccurs="unbounded"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:attributeGroup name="stopAttributes">
        <xsd:attribute name="ref" type="xsd:IDREF" use="required">
            <xsd:annotation>
                <xsd:appinfo>
                    <tool:annotation kind="ref">
                        <tool:expected-type type="com.lizo.busflow.station.Station"/>
                    </tool:annotation>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>


    <xsd:element name="routing">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <!--<xsd:group ref="stopElements"/>-->
                    <xsd:attributeGroup ref="routingAttributes"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>


    <!--<xsd:element name="routing" type="headRouting">-->
    <!--<xsd:annotation>-->
    <!--<xsd:documentation><![CDATA[ The method invoke timeout. ]]></xsd:documentation>-->
    <!--</xsd:annotation>-->
    <!--</xsd:element>-->

    <xsd:attributeGroup name="routingAttributes">
        <xsd:attribute name="value" type="xsd:string" default="@default">
            <![CDATA[ ]]>
        </xsd:attribute>
        <xsd:attribute name="to" type="xsd:IDREF" use="required">
            <xsd:annotation>
                <xsd:appinfo>
                    <tool:annotation kind="ref">
                        <tool:expected-type type="com.lizo.busflow.station.Station"/>
                    </tool:annotation>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="patten" type="xsd:string" default="string">
            <![CDATA[ ]]>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:element name="property" type="propertyType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ The method invoke timeout. ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="propertyType">
        <xsd:attribute name="name" type="xsd:string" use="required">
            <![CDATA[ ]]>
        </xsd:attribute>
        <xsd:attribute name="key" type="xsd:string" use="required">
            <![CDATA[ ]]>
        </xsd:attribute>
    </xsd:complexType>


    <xsd:element name="bus" type="busType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ The method invoke timeout. ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>


    <xsd:complexType name="busType">
        <xsd:attribute name="id" type="xsd:ID" use="required">
            <xsd:annotation>
                <xsd:appinfo>
                    <tool:annotation kind="ref">
                        <tool:expected-type type="java.lang.Object"/>
                    </tool:annotation>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="start" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:appinfo>
                    <tool:annotation kind="ref">
                        <tool:expected-type type="com.lizo.busflow.station.Station"/>
                    </tool:annotation>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="maxPath" type="xsd:integer" default="100000">
            <![CDATA[ ]]>
        </xsd:attribute>
        <xsd:attribute name="exception" type="xsd:IDREF">
            <xsd:annotation>
                <xsd:appinfo>
                    <tool:annotation kind="ref">
                        <tool:expected-type type="com.lizo.busflow.station.Station"/>
                    </tool:annotation>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="finish" type="xsd:IDREF">
            <xsd:annotation>
                <xsd:appinfo>
                    <tool:annotation kind="ref">
                        <tool:expected-type type="com.lizo.busflow.station.Station"/>
                    </tool:annotation>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="record" type="xsd:boolean" default="true">
            <![CDATA[ ]]>
        </xsd:attribute>
    </xsd:complexType>


    <xsd:element name="busFactory">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ The method invoke timeout. ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
</xsd:schema>


